.login form {
	background: transparent !important;
	border: 0 !important;
	width: 500px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 19px !important;
}
.w-150 {
	width: 150px;
}
.m-auto {
	margin:auto !important;
}
.fw-400 {
	font-weight: 400 !important;
}
.fz-20 {
	font-size: 20px !important;
}
.leading-27 {
	line-height: 27px !important;
}
.fz-16 {
	font-size: 16px !important;
}
.leading-21 {
	line-height: 21px !important;
}
.theme-black {
	color: #000000;
}
.text-capatalize {
	text-transform: capitalize;
}
.text-center {
	text-align: center !important;
}
.w-388 {
	width: 388px;
}
#pass1-text.bad, #pass1{
	border: 1px solid rgba(0, 0, 0, .3) !important;
	height: 45px;
}
.wp-core-ui .button-primary {
	background: #D64631 !important;
	border-color: #D64631 !important;
	color: #ffffff !important;
}
#login {
	display: none;
}
.login .reset-pass-submit .button {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	padding-left: 164px !important;
	padding-right: 173px !important;
}
.mb-35 {
	margin-bottom: 35px !important;
}
.mt-6 {
	margin-top: 6px !important;
}
.login.wp-core-ui #resetpassform .button-primary-disabled, .login.wp-core-ui #resetpassform .button-primary.disabled, .login.wp-core-ui #resetpassform .button-primary:disabled, .login.wp-core-ui #resetpassform .button-primary[disabled]{
	color: #ffffff !important;
	background: #D64631 !important;
	border-color: #D64631 !important;
	opacity: 30%;
}
.login .button.wp-hide-pw {
	height: 45px !important;
	padding: 5px 9px 13px !important;
}
.login.js.login-action-rp.wp-core-ui.locale-en-us {
	background: #ffffff !important;
}
