@use 'variables';

@media (min-width: variables.$breakpoint-tablet-landscape) {
    @each $size, $length in variables.$sizes {
        .w-lg-#{$size} {
            width: $length !important;
        }
        .h-lg-#{$size} {
            height: $length !important;
        }
        .min-h-lg-#{$size} {
            min-height: $length;
        }
        .max-h-lg-#{$size} {
            max-height: $length;
        }
        .min-w-lg-#{$size} {
            min-width: $length;
        }
        .max-w-lg-#{$size} {
            max-width: $length;
        }
    }

    form {
        width: 520px !important;
    }
    .crm-container {
        padding: 24px;
        
        af-form {
            width: 520px !important;
            margin-left: auto;
            margin-right: auto;
        }

        .select2-search-choice-close {
            padding-top: 8px !important;
        }
    }

}
