@use 'variables';
@each $size, $length in variables.$sizes {
    .w-#{$size} {
        width: $length !important;
    }
    .h-#{$size} {
        height: $length !important;
    }
    .min-h-#{$size} {
        min-height: $length;
    }
    .max-h-#{$size} {
        max-height: $length;
    }
    .min-w-#{$size} {
        min-width: $length;
    }
    .max-w-#{$size} {
        max-width: $length;
    }
}

a {
    color: variables.$theme-primary;
    cursor: pointer;
}

body p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    letter-spacing: -0.02em;
}

.has-login-form {
    display: flex;
    justify-content: center;
    padding: 15px;
    form {
        width: -webkit-fill-available;
        p {
            display: grid;
        }
    }
}

.login-remember {
    display: flex !important;
    align-items: center;
    label {
        display: flex !important;
        align-items: center;
    }
}

form input {
    height: 29px !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-radius: 4px !important;
    flex: 1;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
}

.button-primary {
    background: variables.$theme-primary !important;
    color: #fff;
    height: 45px !important;
    cursor: pointer;
}

.wp-form-block-group {
    padding-left: 24px;
    padding-right: 24px;
    font-family: Open Sans;
}

.form-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    padding-top: 24px;
}

.form-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    margin-top: 5px;
}

.select2-drop.select2-drop-active.crm-container {
    border-color: rgba(0, 0, 0, 0.3) !important;
}

.crm-container {
    padding: 24px;
    background-color: #fff !important;

    .crm-profile {
        border: none;
        padding: 10px 0;
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .form-item {
        margin-bottom: 15px;
        flex: 1;
        display: flex;
        flex-direction: column;
        // margin-right: 30px;

        label {
            font-size: 14px;
            span.crm-marker {
                color:red;
            }
        }
    }

    .content {
        display: flex;
    }

    input {
        flex: 1;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 16px;
        box-shadow: none !important;
    }

    .select2-container .select2-choice {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }

    .select2-search-choice-close {
        padding-top: 8px !important;
        &::before {
            color: rgba(0, 0, 0, 1) !important;
        }
    }

    input[type=radio] {
        margin: 0px !important;
    }

    .form-control {
        height: 45px !important;
        border: 1px solid rgba(0, 0, 0, 0.3) !important;
        border-radius: 4px !important;
        box-shadow: none !important;
    }

    .select2-container-multi > .select2-choices {
        min-height: 43px !important;
        box-shadow: none !important;
    }

    .af-container.af-layout-cols > * {
        width: 100%;
        flex-basis: auto;
    }
    
    .af-field-type-email, 
    .af-field-type-text,
    .af-field-type-select,
    .af-field-type-chain-select {
        width: 100%;
        padding-bottom: 15px !important;
    }

    .af-field-type-radio {
        margin-bottom: 15px !important;
    }

    .af-container > .form-group {
        margin-bottom: 0px !important;
    }

    .select2-chosen,
    .select2-arrow {
        padding-top: 7px !important;
        color: rgba(0, 0, 0, 1) !important;
    }

    .select2-choices, ::before {
        padding-top: 5px !important;
    }

    .af-field-type-hidden {
        display: none !important;
    }

    .btn-primary {
        background: rgba(214, 70, 49, 1) !important;
        width: 100%;
    }

    label:has(input[type="radio"]) {
        margin-bottom: 15px !important;
        padding-right: 15px !important;
    }

    .crm-af-field-label {
        color: rgba(0, 0, 0, 1) !important;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400 !important;
        line-height: 16.34px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .select2-drop-active,
    .select2-search > input {
        border-color: rgba(0, 0, 0, 0.3) !important;
        height: 45px;
        padding: 10px
    }
}
