@use 'variables';

@media (min-width: variables.$breakpoint-tablet) {

    @each $size, $length in variables.$sizes {
        .w-md-#{$size} {
            width: $length !important;
        }
        .h-md-#{$size} {
            height: $length !important;
        }
        .min-h-md-#{$size} {
            min-height: $length;
        }
        .max-h-md-#{$size} {
            max-height: $length;
        }
        .min-w-md-#{$size} {
            min-width: $length;
        }
        .max-w-md-#{$size} {
            max-width: $length;
        }
    }

    @each $name, $value in variables.$spacers {
        .ml-md-#{$name} {
            margin-left: $value !important;
        }
        .mr-md-#{$name} {
            margin-right: $value !important;
        }
    }

    .crm-container {
        padding: 24px;

        .form-item {
            margin-right: 15px;
        }
    }
}
