$breakpoint-tablet: 768px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-desktop: 1200px;

$theme-primary: rgba(214, 70, 49, 1);
$theme-dark-red: rgba(128, 39, 26, 1);


$theme-colors: (
    'theme-primary': $theme-primary,
    'theme-dark-red': $theme-dark-red,
);

$sizes: (
    '16': 16px,
    '25': 25px,
    '50': 50px,
    '60': 60px,
    '75': 75px,
    '95': 95px,
    '100': 100px,
    '140': 140px,
    '150': 150px,
    '200': 200px,
    '520': 520px,
    '550': 550px,
    '1000': 100%,
    '25p' : 25%,
    '50p' : 50%,
    '75p' : 75%,
    '100p' : 100%,
);

$font-sizes: (
    14: 14px,
    16: 16px,
    20: 20px,
);

$spacers: (
    '0': 0px,
    '6': 6px,
    '11': 11px,
    '12': 12px,
    '24': 24px,
    '25': 25px,
    '27': 27px,
    '30': 30px,
    '36': 36px
);

$font-weight: (
    '400': 400,
    '600': 600,
);
