.d-block {
    display: block;
}

.p-2 {
    padding: 12px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    align-items: center;
}

.text-white {
    color: white !important;
}

