#bootstrap-theme input[type=radio], #bootstrap-theme input[type=checkbox] {
	margin-top: 0 !important;
}
.crm-af-field.ng-scope .ng-binding.ng-scope {
	margin-right: 30px !important;
}
.af-container .af-container .af-text {
	margin-left: 10px !important;
}
#wpbody .wpbody-content #crm-container .crm-accordion-header:not(.crm-master-accordion-header)+.crm-accordion-body, .crm-container .crm-accordion-bold>.crm-accordion-body {
    box-shadow: none !important;
}
.crm-contact-actions-list-inner .crm-contact_activities-list .crm-activity-type_4 {
    display: none !important;
}